<%- include('../adminPartial/adminDashboard') %>
<div class="container-fluid">
    <div class="row clearfix pt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="body p-40">
                    <div class="row clearfix p-7">
                        <div class="col-lg-4 col-md-12 p-10">

                            <strong>NAME</strong>
                            <br>
                            <%= user.firstName %> <%= user.lastName %>

                        </div>
                        <div class="col-lg-4 col-md-12 p-10">
                            <strong>EMPLOYE ID</strong>
                            <br>
                            <%= user.username %>
                        </div>
                        <div class="col-lg-4 col-md-12 p-10">
                            <strong>JOINING DATE</strong>
                            <br>
                            21/05/2020
                        </div>
                        <div class="col-lg-4 col-md-12 p-10">
                            <strong>DATE OF BIRTH</strong>
                            <br>
                            26/01/2000
                        </div>
                        <div class="col-lg-4 col-md-12 p-10">
                            <strong>EMAIL</strong>
                            <br>
                            <%= user.email %>
                        </div>





                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../adminPartial/adminDashend') %>